body {
    margin: 0;
    padding: 0;
    margin: 5% 17%;
}

a {
    text-decoration: none;
    color: black;
}

header,footer {
    text-align: center;
    margin: 2%;
}

figcaption {
    width: fit-content;
    margin: auto;
}

.content {
    background-color: rgb(211, 226, 240);
    text-align: center;
}

img {
    margin: 20px;
}